*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    color: rgb(14, 14, 14);
    overflow: hidden;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}